.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 6.25rem;
  flex-wrap: wrap;
}

.img {
  pointer-events: none;
  width: 22rem;
}

@media only screen and (max-width: 600px) {
  .home {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .img {
      width: 40rem;
      height: 40rem;
  }
}
