.Container_page {
  background-color: rgb(245, 245, 245);
  width: 100vw;
  height: 100vh;
}
.backGround {
  position: absolute;
  z-index: 0;
  top: 20%;
  height: 70vh;
  right: 2%;
}
.text_Welcome {
  position: absolute;
  top: 15%;
  right: 40%;
  color: rgb(255, 123, 0);
}
.text_submit {
  position: absolute;
  top: 35%;
  right: 35%;
}
.submit_buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 40%;
  margin: 0 auto;
  margin-top: 1.5rem;
}