
.Form_container input {
  height: 0.3rem;
  background-color: rgb(255, 255, 255);
  width: 30rem;
}

.Form_container h5 {
  padding-left: 4%;
  margin-bottom: 3%;
}

.Form_container p {
  padding-left: 4%;
  margin-top: 1rem;
  font-weight: bolder;
}

.label_container {
  display: flex;
  align-items: center;
  padding-left: 4%;
  height: 0.5rem;
  margin-top: 0.5rem;
}

.label_container p {
  padding-left: 5%;
  font-weight: bolder;
  margin: 0;
}

.label_container img {
  margin: 0;
  width: 1.5rem;
  height: 1.3rem;
}

.container_buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.check_box {
  display: flex;
  flex-direction: row;
  width: 24rem;
  padding-left: 5%;
}

.check_box p {
  padding: 0;
  margin-top: 1rem;
  font-weight: bolder;
}

.Container_page__accounts {
  background-color: rgba(245, 245, 245, 0.411);
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  width: 32rem;
  z-index: 1;
}
@media only screen and (max-width: 1150px) {
 
  .Container_page__accounts {
    padding-right: 0%;
    margin-left: 10%;
    width: 32rem;
  }
}

@media only screen and (max-width: 1050px) {
 
  .Container_page__accounts {
    padding-right: 0%;
    margin-left: 20%;
    width: 32rem;
  }
}
@media only screen and (max-width: 960px) {
  .Container_page__accounts {
    background-color: rgba(245, 245, 245, 0.411);
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    margin-left: 30%;
    width: 32rem;
    z-index: 1;
  }
 
}

@media only screen and (max-width: 870px) {
  .Container_page__accounts {
    background-color: rgba(245, 245, 245, 0.411);
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    margin-left: 30%;
    width: 25rem;
    z-index: 1;
  }
 
}

@media only screen and (max-width: 790px) {
  .Container_page__accounts {
    background-color: rgba(245, 245, 245, 0.411);
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    margin-left: 40%;
    width: 20rem;
    z-index: 1;
  }
 
}
@media only screen and (max-width: 640px) {
  .Container_page__accounts {
    background-color: rgba(245, 245, 245, 0.411);
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    margin-left: 40%;
    width: 15rem;
    z-index: 1;
  }
 
}
@media only screen and (max-width: 610px) {
  .Container_page__accounts {
    background-color: none;
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    padding-left: 0%;
    margin-left: 0;
    width: 25rem;
  }
  
}