.MuiMobileStepper-dots {
  width: 100%;
  padding: 1rem;
  justify-content: center;
}

.makeStyles-buttonNext-3 {

  width: 210px;
  height: 60px;
  background: #ED6D23 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.makeStyles-buttonBack-4 {

  width: 210px;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ED6D23;
  border-radius: 5px;
}