.nonlinearSelect{
  margin-bottom: 0.8rem;
}
.nonlinearSelect .MuiSelect-outlined.MuiSelect-outlined {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-right: 28px;
}


.Extra_container_accounts {
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
}

.Container_page__availability {
  background-color: rgba(245, 245, 245, 0.411);
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-right: 10%;
  width: 32rem;
  z-index: 1;
}

.Container_page__availability .MuiStepper-horizontal{
  background-color: transparent;
}
.Container_page__availability input {
  height: 0.3rem;
  background-color: rgb(255, 255, 255);
  width: 30rem;
  font-size: inherit;
}

.Container_page__availability .MuiSelect-selectMenu {
  height: 0.3rem;
  background-color: rgb(255, 255, 255);
  width: 30rem;
}

.Container_page__availability h6 {
  font-size: 1.5rem;
  align-self: flex-start;
  margin: 1rem;
  font-weight: bolder;
}

.Container_page__availability h5 {
  padding-left: 4%;
  margin-bottom: 3%;
}

.Container_page__availability p {
  padding-left: 4%;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bolder;
  text-align: left;
}

.label_container {
  display: flex;
  align-items: center;
  padding-left: 4%;
  height: 0.5rem;
  margin-top: 0.5rem;
}

.label_container p {
  padding-left: 5%;
  font-weight: bolder;
  margin: 0;
}

.label_container img {
  padding-right: 0.5rem;
  width: 1.5rem;
  height: 1.3rem;
}

.container_buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 2rem 0;
}

.check_box {
  display: flex;
  flex-direction: row;
  width: 24rem;
  padding-left: 2%;
}

.check_box p {
  padding: 0;
  margin-top: 1rem;
  text-align: left;
}


@media only screen and (max-width: 1150px) {

  .Container_page__availability {
      padding-right: 0%;
      margin-left: 10%;
      width: 32rem;
  }
}

@media only screen and (max-width: 1050px) {

  .Container_page__availability {
      padding-right: 0%;
      margin-left: 20%;
      width: 32rem;
  }
}

@media only screen and (max-width: 960px) {
  .Container_page__availability {
      background-color: rgba(245, 245, 245, 0.411);
      display: flex;
      flex-direction: column;
      padding-right: 0%;
      margin-left: 30%;
      width: 32rem;
      z-index: 1;
  }

}

@media only screen and (max-width: 870px) {
  .Container_page__availability {
      background-color: rgba(245, 245, 245, 0.411);
      display: flex;
      flex-direction: column;
      padding-right: 0%;
      margin-left: 30%;
      width: 25rem;
      z-index: 1;
  }

}

@media only screen and (max-width: 790px) {
  .Container_page__availability {
      background-color: rgba(245, 245, 245, 0.411);
      display: flex;
      flex-direction: column;
      padding-right: 0%;
      margin-left: 40%;
      width: 20rem;
      z-index: 1;
  }

}

@media only screen and (max-width: 640px) {
  .Container_page__availability {
      background-color: rgba(245, 245, 245, 0.411);
      display: flex;
      flex-direction: column;
      padding-right: 0%;
      margin-left: 40%;
      width: 15rem;
      z-index: 1;
  }

}

@media only screen and (max-width: 610px) {
  .Container_page__availability {
      background-color: none;
      display: flex;
      flex-direction: column;
      padding-right: 0%;
      padding-top: 0;
      padding-left: 0%;
      margin-left: 0;
      width: 25rem;
  }

  .Container_page__availability input {
      height: 0.3rem;
      background-color: rgb(255, 255, 255);
      width: 21rem;
  }

}
